<?xml version="1.0" encoding="utf-8" ?>
<root>
  <item name="aimldirectory" value="bot"/>
  <item name="configdirectory" value="bot"/>
  <item name="logdirectory" value="logs"/>
  <item name="splittersfile" value="Splitters.xml"/>
  <item name="person2substitutionsfile" value="Person2Substitutions.xml"/>
  <item name="personsubstitutionsfile" value="PersonSubstitutions.xml"/>
  <item name="gendersubstitutionsfile" value="GenderSubstitutions.xml"/>
  <item name="defaultpredicates" value="DefaultPredicates.xml"/>
  <item name="substitutionsfile" value="Substitutions.xml"/>
  <item name="maxlogbuffersize" value="64"/>
  <item name="notacceptinguserinputmessage" value="Benutzereingabe verweigert."/>
  <item name="stripperregex" value="[^0-9a-zA-Z]"/>
  <item name="version" value="unbekannt"/>
  <item name="name" value="unbekannt"/>
  <item name="botmaster" value="unbekannt"/>
  <item name="author" value="Dr. Maximilian Tothenburg"/>
  <item name="location" value="unbekannt"/>
  <item name="gender" value="-1"/>
  <item name="birthday" value="unbekannt"/>
  <item name="birthplace" value="eine ferne Galaxie"/>
  <item name="website" value="unbekannt"/>
  <item name="adminemail" value="simon@acme-larp.de"/>
  <item name="islogging" value="false"/>
  <item name="willcallhome" value="false"/>
  <item name="timeout" value="3000"/>
  <item name="timeoutmessage" value="Fehler: Zeitueberschreitung"/>
  <item name="culture" value="de-DE"/>
</root>